* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #050B14;
  color: white;
  padding: 40px 100px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  color: #12D18E;
}

.fav-btn {
  background: #0E1622;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #1E293B;
  cursor: pointer;
  transition: 0.3s;
}

.fav-btn:hover{
  border-color: #12D18E;
}

.fav-count {
  background: #12D18E;
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
}

/* SEARCH */
.search-box {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.search-box input {
  flex: 1;
  padding: 15px;
  background: #0E1622;
  border: 1px solid #1E293B;
  border-radius: 12px;
  color: white;
}

.search-box button {
  padding: 15px 25px;
  background: #12D18E;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.search-box button:hover{
  background-color: white;
  color: #12D18E;
}

/* ERROR */
.error {
  color: #ff4d6d;
  margin-top: 10px;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 100px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #94a3b8;
}

.icon-search{
  font-size: 400%;
}

/* LAYOUT */
.profile-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

/* PROFILE */
.profile-card {
  background: #0E1622;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #1E293B;
  width: 300px;
}

.profile-card img {
  width: 90px;
  border-radius: 50%;
}

.profile-card a {
  display: inline-block;
  margin-top: 10px;
  background: #238636;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.profile-card a:hover{
  background-color: black;
  color: #12D18E;
}

.titre-prof{
   padding: 0px 0px 15px 6px;
}

/* ADD BUTTON */
#favBtn {
  margin-top: 10px;
  background: linear-gradient(135deg,#12D18E,#0ea371);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#favBtn:hover{
  color: white;
}

/* REPOS */
.repo-card {
  background: #0E1622;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 1px solid #1E293B;
}

.repo-card h4 {
  color: #12D18E;
}

#reposList h2{
  padding: 0px 0px 15px 6px;
}

/* FAVORITES */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  line-height: 2;
}

.favorites-container .profile-card {
  width: 300px;
}

.favorites-section {
  display: none;
}

.title-fav{
  padding-top: 15px;
  padding-bottom: 15px;
}

.favorite-card {
  background: #0E1622;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #1E293B;

  display: flex;
  align-items: center;
  gap: 15px;
}

.favorite-card img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #12D18E;
}

.fav-info {
  flex: 1;
}

.fav-info a {
  color: #58a6ff;
  font-size: 13px;
}

/* ============== */
.view-btn {
  margin-top: 10px;
  background: #1f6feb;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.view-btn:hover {
  background: #0d419d;
}
/* =============== */

.remove-btn {
  background: #2A0E17;
  color: #ff4d6d;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* LOADER */
.loader-container {
  text-align: center;
  margin-top: 50px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #12D18E;
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  animation: bounce 1s infinite;
}

.profile-card{
   text-align: center;
}

.profile-card h2{
  font-size: 30px;
  color: #12D18E;
}

.username{
  font-size: 14px;
}

.stats{
  display: flex;
  text-align: center;
  font-size: 16px;
  gap: 6px;
  font-weight: bold;
}

@keyframes bounce {
  0%, 80%, 100% { transform: scale(0); opacity: 0.5; }
  40% { transform: scale(1); opacity: 1; }
}